*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    padding: 0;
    margin: 0;
    background: #ccc;
}
nav{
    background: black;
    border: 1px solid black;
    padding: 0;
    margin: 0;
    opacity: 100%;
    width: 100%;
    height: 60px; 
}
nav ul{
    float: right;
    text-transform: capitalize;
    text-decoration: none;
    margin-right: 20px;
}
nav ul a {
    height: 100%;
}
nav ul li{
    display: inline-block;
    padding-left: 15px;
    padding-right: 15px;
    color: black;
    background: skyblue;
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-top: 10px;
    margin-bottom: auto;
    margin-left: 5px;
}
.icon{
    width: 30px;
    height: 30px;
    background: white;
    float: right;
    margin-top: 15px;
    margin-right: 20px;
    cursor: pointer;
    display: none;
}
#check{
    display: none;
}


/*media query*/
@media (max-width:800px) {
    .icon{
        display: block;
    }
    nav ul{
        display: block;
        width: 100%;
        height: 100vh;
        text-align: center;
        background: black;
        overflow-x: hidden;
        position: fixed;
        transform: translateY(100vh);
        transition: transform 300ms ease-in-out;
    }
    #check:checked ~ ul{
        transform: translateY(0vh);
    }
    nav ul a{
     text-decoration: none;   
    }
    nav ul a li{
        display: block;
        text-decoration: none;
    }
    .gallery_img{
        width: 90%;
    }
}

/*logo set up*/
.logo{
    width: 60px;
    height: 60px;
    margin-left: 10px;
    float: left;
}
/*baner image*/
.baner{
    width: 100%;
    height: 100%;
}
/*about part*/
#about{
    width: 100%;
    height: min-content;
    border-left: 1px solid black;
    border-right: 1px solid black;
    border-top: 1px solid black;
    text-justify:distribute-all-lines;
    justify-self: flex-end;
}
.about{
    border-bottom: 1px solid blue;
    border-right: 1px solid green;
    border-left: 1px solid #111;
    float: left;
}
/*gallery image*/
#gallery{
    border: 1px solid black;
    height: fit-content;
    width: 100%;
    margin-top: 200px;
    text-align: center;
}
.gallery_img{
    border: 1px solid black;
    width: 320px;
    height: 360px;
}
#contact{
    border: 1px solid black;
    position:relative;
    margin-top: 20px;
}
#contact form{
border-right: 1px solid black;
border-bottom: 1px solid black;
border-top: 1px solid black;
height: fit-content;
width: fit-content;
padding: 10px;
}
#contact form input{
    height: 25px;
    width: 275px;
}
#comment{
    width: 275px;
}
#contact form button{
    width: 80px;
    height: 30px;
    background: linear-gradient(blue,green);
    color:white
}
.crad{
    margin-top: 10px;
    color: #fff;
    font-style: italic;
    text-transform: capitalize;
}
.rv_crad{
    background: skyblue;
    border: 1px solid black;
    width: 90%;
    height: fit-content;position: relative;
    border-radius: 10px;
    box-shadow: 10px 10px 10px black;
    padding: 10px;
    margin-top: 20px;
}
label .sp1,.sp2,.sp3{
    width: 100%;
    height: 2px;
    color: blue;
}


#login_form{
    background-color:rgba(255, 255, 255, 0.8);
    margin-left: auto;
    margin-right: auto;
    margin-top: 100px;
    justify-content: center;
    text-align: center;
    width: fit-content;
    padding: 10px;
    border-radius: 15px;
    justify-self: center;
    opacity: 80%;
    position: relative;
    
    
}
input[type="text"],input[type="password"]{
    width: 250px;
    height: 30px;
    margin-top: 10px;
}
button{
    width: 80px;
    justify-self: right;
    background: black;
    height: 40px;
    border: 2px solid black;
    border-radius: 15px;
    margin-left: 170px;
    margin-top: 6px;
    color: #fff;
}
form a div{
    background: rgb(15, 71, 226);
    color:white;
    padding: 5px;
    text-align: left;
    border-radius: 25px;
    padding-left: 10px;
    text-decoration: none;
    margin-top: 20px;
}
form a div img{
width: 30px;
height: 30px;
border-radius: 50px;
margin-left: -5px;
margin-top: -2;
}
.ud-line .div{
width: 80px;
background: black;
height:1px;
margin-top: -10px;
display: flex;
margin-left:200px;
}
.ud-line div{
width: 80px;
background: black;
height:1px;
margin-top: 51px;
display: flex;
margin-left:60px;
}

#error{
    color: red;
    background: none;
    border-radius: 15px;
    border: 1px solid red;
    padding: 5px;
    text-align: left;
    display: none;
}
